@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="jumbotron table-bordered">
    <h1 class="text-center"><b>Zarządzanie produktami</b></h1>
</div>

<h3 class="text-center">Prosta aplikacja ASP.NET MVC umożliwiającą zarządzanie produktami (lista produktów, dodanie, edycja oraz usunięcie).</h3>